<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>doxshare</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />    
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body >
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">doxshare</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                     <li><a href="services.html">MY LOANS</a></li>
                     <li><a href="pricing.html">ACCOUNT</a></li>
                      <li><a href="https://doxshare.herokuapp.com">LOGOUT</a></li>
                </ul>
            </div>
           
        </div>
    </div>
   <!--/.NAVBAR END-->
        
       <section id="home" class="text-center">
         
                        <div class="item active">
                            <div class="carousel-inner">
                                <img class="fluidimage" src="assets/img/doxshare1.jpg" alt="" />

                            
                                    <a class="btnNewLoan btn-primary" href="#openModal"> NEW LOAN </a>
                                    <div id="openModal" class="modalDialog">
                                        <div>
                                            <a href="#" id="close" title="Exit" class="close" data-dismiss="modal">X</a>
                                            <h2>SELECT YOUR BANK</h2>
                                            <a href="#openModalBank" id="bankOfAmerica">
                                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/rsz_bankofamericaimage_zpshszeec9z.jpg"/>
                                            </a>
                                               
                                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/rsz_chaselogoimage_2_zpsra0pgrxb.jpg"/>
                                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/rsz_unionbank_2_zps24ehu7yc.jpg"/>
                                                <div class="bank_image_location">
                                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/rsz_merrill_lynch_logo_2_zpsxkxfjrvb.jpg"/>
                                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/rsz_citibank_logo_zpsnkm8ku63.jpg"/>
                                                <img src="http://i72.photobucket.com/albums/i162/carycheng77/rsz_usbank_logo_2_zps3vz1brlh.jpg"/>
                                                </div>
                                        </div>
                                    </div>


                                    <div id="openModalBank" class="modalDialog">
                                        <div>
                                        <a href="#" title="Exit" class="close" data-dismiss="modal">X</a>
                                        <h2>BANKER CREDENTIALS</h2>
                                        <a id="auth_banker" href="#openModal2">AUTHENTICATE</a>
                                        </div>

                                    </div>


                                    <div id="openModal2" class="modalDialog">   
                                        <div>
                                            <a href="#" title="Exit" class="close" data-dismiss="modal">X</a>
                                            <h2>TYPE OF LOAN</h2>
                                                <div class="loanBox">
                                                    <a href="#openModal3" id="personalinfo">MICROLOAN PROGRAM</a>
                                                    <li>Used for working capital or the purchase of inventory, machinery or equipment.</li>
                                                </div>

                                                <a id="upload_page" href="/uploadpage">REAL ESTATE/EQUIPMENT LOANS</a>
                                                <li>Used for providing long-term fixed rate financing for land and buldings.</li>

                                                <a id="upload_page" href="/uploadpage">DISASTER LOANS</a>
                                                <li>Used to repair or replace real estate and equipment that were destroyed in disaster.</li>

                                                <a id="upload_page" href="/uploadpage">EQUIPMENT LOANS</a>
                                                <li>Used for leasing office equipment, machinery, and other tools in increments.</li>

                                                <a id="upload_page" href="/uploadpage">MERCHANT CASH ADVANCE</a>
                                                <li>Used to advance cash to a business based on the volume of monthly credit card transactions.</li>

                                                <a id="upload_page" href="/uploadpage">LINES OF CREDIT</a>
                                                <li>Used for working capital loans to provide day-to-day cash flow for a business.</li>

                                                <a id="upload_page" href="/uploadpage">PROFESSIONAL PRACTICE LOANS</a>
                                                <li>Designated towards professional services: health care, accounting, lefal, and insurance.</li>

                                                <a id="upload_page" href="/uploadpage">FRANCHISE STARTUP LOAN</a>
                                                <li>Designated to finance entrpreneurs: Open to working capital and franchise fees.</li>
                                        </div>
                                    </div> 

                                    <div id="openModal3" class="modalDialog">
                                        <div>
                                            <a href="#" title="Exit" class="close" data-dismiss="modal">X</a>
                                            <h2>CLIENT INFO</h2>
                                            
                                            <div>
                                                <div class="form-group" style="float:left;">
                                                    <label for="usr">first:</label>
                                                    <input type="text" class="form-control" id="usr">
                                                </div>

                                                <div class="form-group" style="float:left;">
                                                    <label for="middle">m:</label>
                                                    <input type="text" class="form-control-middle" id="middle">
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="pwd">last:</label>
                                                    <input type="password" class="form-control foo" id="pwd">
                                                </div>

                                                <div class="form-group">
                                                    <label for="pwd">email:</label>
                                                    <input type="password" class="form-control" id="pwd">
                                                </div>
                                             
                                                <a class="btn btn-primary" id="upload_page" href="/uploadpage">SUBMIT</a>
                                            
                                            </div>

                                        </div>

                                    </div>
                   
                            </div>              
                        </div>

           
       </section>
    <!--/.SLIDESHOW END-->


       

    
     <!--/.CLIENTS END-->
    <section id="footer-sec" >
             
            <div class="container">
            <div class="row  pad-bottom" >
            <div class="col-md-4">
                <h4> <strong>ABOUT US</strong> </h4>
                            <p>
                                Let us do the work for you! Share important financial
                                documents in a safe, secure, and simple manner,
                                straight from the comfort of your home.
                            </p>
                <a href="#" >read more</a>
                </div>
               <div class="col-md-4">
                    <h4> <strong>SOCIAL LINKS</strong> </h4>
                   <p>
                     <a href="#"><i class="fa fa-facebook-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-twitter-square fa-3x"  ></i></a>  
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"  ></i></a>  
                       <a href="#"><i class="fa fa-google-plus-square fa-3x"  ></i></a>  
                   </p>
                </div>
               <div class="col-md-4">
                   <h4> <strong>MY LOCATION</strong> </h4>
                            <p>
                               418 Martens Avenue,  <br />
                               Mountain View, CA  <br />
                               94040
                            </p>
                    <a href="#" class="btn btn-primary">SEND QUERY</a>
                </div>
               </div>
            </div>
    </section>  

   
    <!--/.FOOTER END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/plugins/bootstrap.js"></script>
  <!-- CUSTOM SCRIPTS  -->
    <script src="assets/js/custom.js"></script>
    <script>
        $('#bankOfAmerica').on("click",function(){
              $('#openModal').modal('hide');
              $('#openModalBank').modal('show');
        });

        // $('#upload_page').on("click",function(){
        //       res.render('uploadpage');
        // });
    </script>

    <script>
        $('#auth_banker').on("click", function(){
            $('#openModalBank').modal('hide');
            $('#openModal2').modal('show');
        });
    </script>

    <script>
        $('#personalinfo').on("click",function(){
            $('#openModal2').modal('hide');
            $('#openModal3').modal('show');
        });
    </script


</body>
</html>

