/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */


html {
  height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
i.fa {
    padding:5px;
}
section {
    padding-top:50px;
}

p {
    font-weight:300;
    line-height:30px;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:18%;
}

/* NAVBAR STYLE */


.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}


/* ADDED PADDING IN NAVBAR */
.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/


.navbar-pad-original {
      padding:0px;
}



/* CARUOSEL STYLE OR SLIDESHOW STYLE*/


.back-light {
    background-color:rgba(0, 0, 0, 0.50);
    padding:10px;
}
/*NOTE SECION STYLE*/
.note-sec {
     padding-bottom:50px;
    background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:300px;
    color:#fff;
}

/*HEADINGS IMAGE STYLE*/


.head-main-img {
padding-bottom:50px;
background: url(../img/4.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:300px;
    color:#fff;
}
    .head-main-img h1 {
        padding: 50px 2px 2px 10px;
        text-transform:uppercase;
    }


 /* PRICING STYLE */


 .plan {
padding: 0 0 15px 0;
margin: 30px 0px;
list-style: none;
text-align: center;
}

.plan li {
padding: 15px 0px;
font-size: 16px;
border-bottom: 1px dotted #e1e1e1;
}

.price {
    font-size:45px!important;
}

small {
    font-size:15px;
    padding-left:10px;
}

    .plan li i {
        padding-right:10px;
    }
.price-two {
    font-size:30px!important;
    padding: 15px 0px;
background-color: rgba(162, 188, 253, 1);
color: #fff;
border: none;
font-weight: 900;
}

.adjust-border-radius {
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.adjust-border {
    border-top-left-radius: 0px;
 border-top-right-radius: 0px;
}


/*    PORTFOLIO STYLES*/

.portfolio-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
}

.portfolio-items.col-3 > li {
  width: 33%;
}

.portfolio-item .item-main {
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border:1px solid #E8EAEE;
  
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
padding: 30px 0 30px 0;
background-color: #000;
color: #fff;
font-size: 20px;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(177, 166, 255, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}

/*CONTACT STYLES*/


.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
    font-size:20px;
    font-weight:800;
    padding:30px;
}
#contact-sec {
  padding-top:0px;
}


/* FOOTER STYLE*/


#footer-sec {
    background-color:#000;
    color:#808080;
}
    #footer-sec h4 {
        text-transform:uppercase;
        color:#fff;
    }

/* MODAL STLYE */


.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 50000;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 710px;
  height: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
/* NEW LOAN BUTTON */

.loan_button{
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 100px;
  margin: -20px -50px;
  top: 40%;
  left: 50%;
}

/* BANK IMAGE TOP PADDING FOR SECOND ROW IMAGES*/
.bank_image_location{
  padding-top: 5px;
}

/*.btnNewLoan{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  height: 20px;
  width: 100px;
  margin: -20px -50px;
  top: 40%;
  left: 50%;
}*/

.loanBox {
  border: 50px solid blue;
}

.largeText{
  font-size: 230% !important;
}

.btnNewLoan {
 display: inline-block;
 padding: 6px 12px;
 margin-bottom: 0;
 font-size: 14px;
 font-weight: normal;
 line-height: 1.428571429;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 background-image: none;
 border: 1px solid transparent;
 border-radius: 4px;
 position: absolute;
 z-index: 1;
 height: 10%;
 width: 20%;
 margin: -50px -160px;
 top: 40%;
 left: 50%;
}


#boxWithLogo1 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: -80px -340px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo2 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: -80px -167px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo3 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: -80px 5px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo4 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: -80px 177px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo5 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: 75px -340px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo6 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: 75px -167px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo7 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: 75px 5px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

#boxWithLogo8 {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: 75px 177px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}

/*#wordCenteringBox{
  padding-top: 30%;
}
*/
.white {
  color: white !important;
}

/* RESIZES IMAGES FOR DIFFERENT SIZES OF MONITOR*/
.fluidimage{
  width: 100%;
  height: 100%;
}

.form-control-middle {
  display: block;
  width: 50px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-middle:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-middle:-moz-placeholder {
  color: #999;
}
.form-control-middle::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-middle:-ms-input-placeholder {
  color: #999;
}
.form-control-middle::-webkit-input-placeholder {
  color: #999;
}
.form-control-middle[disabled],
.form-control-middle[readonly],
fieldset[disabled] .form-control-middle {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control-middle {
  height: auto;
}
input[type="date"] {
  line-height: 34px;
}

#uploadButton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 100000000;
  height: 35%;
  width: 23%;
  margin: 75px 177px;
  top: 40%;
  left: 50%;
  word-wrap: break-word;
}


/*CSS FOR SEPARATING INTO THREE COLUMNS*/
#container {
    width: 960px;
    margin: 0 auto;
}

#primary {
    float: left;
    width: 240px;
    height: 500px;
}

#content {
    float: left;
    width: 800px;
    height: 500px
}

#secondary {
    float: left;
    width: 350px;
    height: 500px
    background-color:#428bca;
}

#footer {
    clear: both;
}

/*UPLOAD BUTTON PADDING*/
#uploadpadding{
  margin-top: 30px; 
}

/*CREATE FOLDER BUTTON PADDING*/
#createpadding{
  margin-top: 8px;
}

/*BUTTON COLORING FOR DROPDOWN*/
#btn-dropdown {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

/*TOP PADDING FOR COLUMNS*/
#leftsidepadding{
  margin-top: 80px;
}

/*TOP PADDING FOR MIDDLE COLUMN*/
#middlepadding{
  margin-top: 50px;
}

/*TOP PADDING FOR RIGHT COLUMN*/
#rightpadding{
  margin-top: 65px;
}

/*CHECKLIST COLOR STYLING*/
.alert-info2 {
 4475    color: #31708f;
 4476    background-color: #FFF;
 4477    border-color: #FFF;
 4478  
}

.alert {
     padding: 15px;
     margin-bottom: 10px;
 
     border-radius: 4px;
}

/*PADDING FOR CLIENT INFO MODAL*/
.firstnamepadding{
  padding-right: 100px;
}

.middlenamepadding{
  padding-right: 20px;
}

.lastnamepadding{
  padding-right: 415px;
}

.dobpadding{
  padding-right: 100px;
}

.emailpadding{
  padding-right: 615px;
}

.ssnpadding{
  padding-right: 470px;
}

.accountnopadding{
  padding-right: 570px;
}

/*BOTTOM PADDING FOR FOLDERS*/
.folderbadding{
  padding-top: 20px;
}







   